* {
  margin: 0;
  border: 0;
  padding: 0;
  color: white;
  max-width: 100%;
  cursor: url("https://cdn.discordapp.com/attachments/644348008422703106/645826592668647435/OAitzkJHK8E3AN0vJJz5zkJOAk4CTgJOAn0QQIOaPsgJHeIk4CTgJOAk4CTwPFKwAHt8UrOneck4CTgJOAk4CTQBwk4oO2DkNwhT.png"), default;
}

body {
  background-color: black;
  height: 100%;
  width: 100%;
}

html {
  width: 100vw;
  height: 100%;
}

#shade {
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.75);
  display: none;
  justify-content: center;
  align-items: center;
}

#viewing {
  z-index: 6;
  max-height: 90vh;
  max-width: 95%;
  width: auto;
  position: fixed;
  object-fit: contain;
}

#gridboy {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#gridboy > img {
  max-height: 40%;
  max-width: 95%;
  width: auto;
  margin: 1%;
  border-radius: 15px;
  cursor: pointer;
  object-fit: contain;
}
